@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar-brand {
    font-family: 'Gilda Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #395F7D!important;
}

.nav-link {
    padding: 0.5rem 0rem;
}

.nav-item {
    margin-left: 1.5rem;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    z-index: -1;
}

.background .bg-img {
    height: 100px;
}

.background.top {
    top: 0;
}

.background.bot {
    bottom: 0px;
}

.my-card {
    display: flex;
    flex-direction: row;
    background: #FCF9F9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3rem;
}

.main-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    color: #395F7D;
}

.second-main-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;

    color: #395F7D;
}

.apartment-img {
    border-radius: 10px 0 0 10px;
}

.apartment-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: #4D4949;
}

.apartment-content {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #4D4949;
    margin-bottom: 40px;
}

.apartment-rooms {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #4E6682;
}

.fw-500 {
    font-weight: 500;
}

.btn-blue {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 10px 20px;
    background: #395F7D;
    border-radius: 100px;
}

.btn-blue:hover{
    color: #FFFFFF;
    background: #1d303f;
}

.block {
    background: rgb(245, 245, 245);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.search {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #4D4949;
}

.btn-toggle-blue {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;

    color: #4D4949;

    background: #D8D8D8;
    border-radius: 10px;

    padding: 15px 40px;
}

.btn-toggle-blue.active, .btn-toggle-blue:hover {
    color: #FFFFFF;
    background: #395F7D;
}

.btn-toggle-blue.active:hover{
    color: #FFFFFF;
    background: #1d303f;
}

.description-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;

    color: #395F7D;
}

.description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;

    color: #4D4949;
}

.facilities {
    background: #395F7D;
}

.facility-title {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    
    color: #F5F5F5;
    margin-bottom: 1.5rem;
}

.facility-card-wrapper {
    width: calc(25% - 16px);
    margin-bottom: 2rem;
}

.facility-card {
    background-color: #ffffff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    height: 100%;
}

.facility-icon {
    height: 80px;
}

.facility-text {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    
    color: #222222;
}

.phone {
    display: flex;
    flex-direction: row;
}

.phone-top-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.23em;
    margin: 0;
    color: #FFFFFF;
}

.phone-bot-text {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    color: #395F7D;
}

.big-img {
    width: 100%;
    margin-right: 1.5rem;
    height: fit-content;
    max-height: 520px;
}

.small-img {
    position: relative;
    height: 100%;
}

.small-img img {
    width: 100%;
    height: 100%;
    max-height: 248px;
}

.whatsapp {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #395F7D; 
}

.zoom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    transition: ease-in-out 0.2s;
}

.zoom .zoom-border {
    width: 100%;
    height: 100%;
    border: rgba(0, 0, 0, 0) solid 1px;
    transition: ease-in-out 0.2s;
}

.zoom img {
    opacity: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    transition: ease-in-out 0.2s;
}

.zoom:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.zoom:hover .zoom-border {
    border: #AA8453 solid 1px;
}

.zoom:hover img {
    opacity: 1;
}

.blue-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #395F7D;
    margin-bottom: auto;
    height: fit-content;
    margin-top: auto;
    margin-right: 3rem;
}

.price-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #666666;
}

.price {
    width: 150px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-align: right;

    color: #395F7D;
}

#map {
    height: 400px;
    width: 100%;
}

.description-title-little {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;

    color: #395F7D;
}

.main-img, .main-img img {
    width: 100%
}

.images-row {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 12px);
}

.images-row__col {
    width: calc(100%/3 - 8px);
}

.big-img-wrapper {
    padding-right: 0;
}

@media (min-width: 768px) {
    .col-md-5-5 {
        flex: 0 0 auto;
        width: 45.833333333333%;
    }
    
    .col-md-6-5 {
        flex: 0 0 auto;
        width: 54.166666666667%;
    }
}

@media (max-width: 768px) {
    .block {
        padding: 16px;
    }

    .btn-toggle-blue {
        font-size: 20px;
        line-height: 26px;
        padding: 10px 24px;
    }

    .search {
        font-size: 20px;
        line-height: 24px;
    }

    .facility-title {
        font-size: 30px;
        line-height: 40px;
    }

    .facility-card-wrapper {
        width: calc(50% - 10px);
        margin-bottom: 1.5rem;
    }

    .facility-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .description-title {
        font-size: 25px;
        line-height: 33px;
    }

    .main-img {
        overflow: hidden;
        direction: rtl;
    }

    .main-img img {
        width: 200%;
    }

    .blue-text {
        font-size: 18px;
        line-height: 21px;
        margin-right: 0;
        width: fit-content;
    }

    .small-img .zoom-img {
        width: 10%;
    }

    .big-img {
        margin: 0;
        max-height: 328px;
    }

    .main-text {
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
    }

    .second-main-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    
    .navbar-brand {
        margin: 20px auto 8px;
        color: white!important;
    }
    
    .background, .background .bg-img {
        height: 160px;
    }

    .card-body {
        padding: 0.3rem;
    }
    
    .apartment-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
    }

    .apartment-img {
        border-radius: 10px;
        width: 36%;
    }
    
    .apartment-content {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    
    .apartment-rooms {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .my-card {
        margin-bottom: 1.5rem;
    }

    .btn-blue {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .card-body {
        width: 50%;
    }

    .my-card {
        position: relative;
    }

    .my-card .btn-blue {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        color: transparent;
        background-color: transparent;
        border-radius: 10px;
    }

    .my-card .btn-blue:hover {
        color: transparent;
        background-color: transparent;
    }
    .whatsapp {
        display: none;
    }
    .nav-item {
        margin-left: 1rem;
    }
    .images-row__col {
        width: calc(100%/3 - 4px);
    }
    .big-img-wrapper {
        padding-right: 0.75rem;
    }
    .price-text {
        font-size: 20px;
        line-height: 23px;
        text-align: left;
    }
    .price {
        font-size: 25px;
        line-height: 32px;
    }
}
