{% extends 'template.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row align-items-end pt-4 pt-md-2">
        <div class="col-md-8 col-12">
            <h3 class="second-main-text">{{apartment.address}}<br/>{{apartment.type|apartment}} {{apartment.name}}</h3>
        </div>
        <div class="col-md-4 col-12"><hr style="color:#767676;"></div>
    </div>
    <div class="row mb-5 pt-0 pt-md-3">
        <div class="col-md-5-5 col-12 mb-md-0 mb-3 big-img-wrapper">
            <img class="big-img" src="/media/{{apartment.photo_main}}">
        </div>
        <div class="col-md-6-5 col-12">
            <div class="d-flex flex-md-column flex-row align-items-start h-100">
                <div class="col me-0 mb-auto">
                    <div class="images-row">
                        <div class="images-row__col">
                            <div class="small-img">
                                <a href="#" id="1" onclick="change_image(event)" data-bs-toggle="modal" data-bs-target="#photoModal" class="zoom">
                                    <div class="zoom-border">
                                        <img class="zoom-img" src="{% static 'img/icons/zoom.svg' %}">
                                    </div>
                                </a>
                                <img src="/media/{{apartment.photo_1}}">
                            </div>
                        </div>
                        <div class="images-row__col">
                            <div class="small-img">
                                <a href="#" id="2" onclick="change_image(event)" data-bs-toggle="modal" data-bs-target="#photoModal" class="zoom">
                                    <div class="zoom-border">
                                        <img class="zoom-img" src="{% static 'img/icons/zoom.svg' %}">
                                    </div>
                                </a>
                                <img src="/media/{{apartment.photo_2}}">
                            </div>
                        </div>
                        <div class="images-row__col">
                            <div class="small-img">
                                <a href="#" id="3" onclick="change_image(event)" data-bs-toggle="modal" data-bs-target="#photoModal" class="zoom">
                                    <div class="zoom-border">
                                        <img class="zoom-img" src="{% static 'img/icons/zoom.svg' %}">
                                    </div>
                                </a>
                                <img src="/media/{{apartment.photo_3}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col ms-md-0 ms-2 d-flex align-items-end">
                    <div class="images-row">
                        <div class="images-row__col">
                            <div class="small-img">
                                <a href="#" id="4" onclick="change_image(event)" data-bs-toggle="modal" data-bs-target="#photoModal" class="zoom">
                                    <div class="zoom-border">
                                        <img class="zoom-img" src="{% static 'img/icons/zoom.svg' %}">
                                    </div>
                                </a>
                                <img src="/media/{{apartment.photo_4}}">
                            </div>
                        </div>
                        <div class="images-row__col">
                            <div class="small-img">
                                <a href="#" id="5" onclick="change_image(event)" data-bs-toggle="modal" data-bs-target="#photoModal" class="zoom">
                                    <div class="zoom-border">
                                        <img class="zoom-img" src="{% static 'img/icons/zoom.svg' %}">
                                    </div>
                                </a>
                                <img src="/media/{{apartment.photo_5}}">
                            </div>
                        </div>
                        <div class="images-row__col">
                            <div class="small-img">
                                <a href="#" id="6" onclick="change_image(event)" data-bs-toggle="modal" data-bs-target="#photoModal" class="zoom">
                                    <div class="zoom-border">
                                        <img class="zoom-img" src="{% static 'img/icons/zoom.svg' %}">
                                    </div>
                                </a>
                                <img src="/media/{{apartment.photo_6}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <h2 class="description-title-little">Описание</h2>
        <div class="col-md-8 col-12">
            <div class="d-flex mb-2">
                <img class="icon" src="{% static 'img/icons/people.svg' %}">
                <p class="blue-text">
                    возможность размещения {{apartment.max_person}}
                </p>
            </div>
            <div class="d-flex flex-md-row flex-column mb-2">
                <div class="d-flex flex-row">
                    <img style="margin-top: 5px; margin-bottom: 5px;" class="icon" src="{% static 'img/icons/bed.svg' %}">
                    <p class="blue-text">
                        1 местная кровать
                    </p>
                </div>
                <div class="d-flex flex-row">
                    <img style="margin-top: 5px; margin-bottom: 5px;" class="icon" src="{% static 'img/icons/bed.svg' %}">
                    <p class="blue-text">
                        2-х местная кровать + диван
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 d-flex flex-column justify-content-end">
            <div class="justify-content-md-center">
                <p class="price-text">Базовая цена: <span class="price">{{apartment.price}}</span> ₸ / сут</p>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="description">
                {{apartment.description|safe|linebreaks }}
            </div>
        </div>
        <div class="col-md-4 col-12">
            <iframe
                width="100%"
                height="400px"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="{{apartment.googlemap_addres}}">
            </iframe>
        </div>
        <div class="col-md-2 col-12 order-md-1 order-2 offset-md-5 mb-2 d-flex justify-content-md-start justify-content-center">
            <a class="nav-link phone" href="tel:+77070195546">
                <img src="{% static 'img/icons/phone.svg' %}">
                <div class="ms-3">
                    <p style="color: #395F7D" class="phone-top-text">ЗАРЕЗЕРВИРОВАТЬ</p>
                    <p class="phone-bot-text">+ 7 707 019 55 46</p>
                </div>
            </a>
        </div>
        <div class="col-md-2 col-12 order-md-2 order-1 offset-md-3 mb-2 d-flex justify-content-md-end justify-content-center">
            <a class="nav-link phone" href="https://wa.me/+77027956889">
                <img width="40px" src="{% static 'img/icons/whatsapp.png' %}">
                <div class="ms-3">
                    <p style="color: #395F7D" class="phone-top-text">ЗАРЕЗЕРВИРОВАТЬ</p>
                    <p class="phone-bot-text">Whats App</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">{{apartment.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img width="100%" id="modal_img">
            </div>
        </div>
    </div>
</div>  
{% endblock content %}

{% block script %}
<script>
    function change_image(event) {
        if (event.target.id) {
            elem = (event.target)
        } else if (event.target.offsetParent.id) {
            elem = (event.target.offsetParent)
        } else if (event.target.offsetParent.offsetParent.id) {
            elem = (event.target.offsetParent.offsetParent)
        }
        img = document.getElementById("modal_img")
        switch (elem.id) {
            case "1":img.src = "/media/{{apartment.photo_1}}";break;
            case "2":img.src = "/media/{{apartment.photo_2}}";break;
            case "3":img.src = "/media/{{apartment.photo_3}}";break;
            case "4":img.src = "/media/{{apartment.photo_4}}";break;
            case "5":img.src = "/media/{{apartment.photo_5}}";break;
            case "6":img.src = "/media/{{apartment.photo_6}}";break;
            default:
                break;
        }
    }
</script>
{% endblock script %}
