{% extends 'template.html' %}
{% load static %}
{% load custom_tags %}

{% block meta %}
<meta name="description" content="Посуточная аренда квартир. Алматы, ЖК Алмалы." />
<meta name="description" content="Посуточная аренда квартир. Алматы, ЖК Алмалы, напротив Алматы Арены. Однокомнатные и двухкомнатные квартиры. Wi-Fi, Фен, Утюг, Телевизор, Посуда, Холодильник, Стиральная машина, Пылесос" />
{% endblock meta %}
{% block content %}
<div class="main-img">
    <img src="{% static 'img/main.jpg' %}" alt="Аренда квартир Алматы суточно">
</div>
<div class="container-md container-fluid">
    <div class="row">
        <div class="col-lg-7 col-12">
            <p class="main-text mt-4 mb-0">Посуточная аренда квартир. Алматы, ЖК Алмалы, напротив Алматы Арены</p>
        </div>
        <div class="col-lg-5 col-12">
            <div class="block mt-3">
                <p class="search">Поиск по количеству комнат</p>
                <a {% if type == 1 %}href="/"{% else %}href="/?rooms=1"{% endif %} class="btn btn-toggle-blue me-md-5 me-4 {% if type == 1 %}active{% endif %}">1</a>
                <a {% if type == 2 %}href="/"{% else %}href="/?rooms=2"{% endif %} class="btn btn-toggle-blue {% if type == 2 %}active{% endif %}">2</a>
            </div>
        </div>
    </div>
    {% if apartments %}
    <div id="cards" class="row justify-content-center">
        {% for apartment in apartments %}
            <div class="col-lg-6 col-12">
                <div class="my-card">
                    <img class="apartment-img me-2" src="/media/{{apartment.photo_main_little}}">
                    <div class="card-body">
                        <h6 class="apartment-title">{{apartment.type|apartment}}</h6>
                        <p class="apartment-content"><span class="fw-500">Базовая цена:</span> {{apartment.price|space}} Тенге/Cутки</p>
                        <p class="float-start apartment-rooms" style="width: fit-content">{{apartment.name}}</p>
                        <a href="/apartment/{{apartment.name}}" class="float-end btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center mb-5">
        <button id="show_more" class="btn btn-blue">Показать еще</button>
    </div>
    {% else %}
        <h1 class="m-5 text-center">Нет свободных домов</h1>
    {% endif %}
</div>
<div class="container-fluid facilities">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-md-5 mt-3">
                <h3 class="facility-title">Высокие стандарты чистоты</h3>
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-stretch mb-0 mb-md-4">
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/wifi.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Wi-Fi</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/hair-dryer.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Фен</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/iron.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Утюг</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/tv.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Телевизор</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/dishes.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Посуда</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/freezer.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Холодильник</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/washing-machine.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Стиральная машина</p>
                    </div>
                </div>
                <div class="facility-card-wrapper">
                    <div class="facility-card">
                        <img width="60" src="{% static 'img/icons/vacuum-cleaner.svg' %}" class="facility-icon mb-md-4 mb-1">
                        <p class="facility-text">Пылесос</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    var page = 1
    var button = document.getElementById("show_more")
    var has_next = {% if has_next %}true{% else %}false{% endif %}
    
    window.onload = start

    function start() {
        reload_button();
        button.addEventListener("click", add_data)
    }

    function reload_button() {
        if (!has_next) {
            button.disabled = true
        }
    }

    async function getData() {
        response = await fetch(`/api/more_apartments?page=${page}{% if type %}&rooms=${"{{type}}"}{% endif %}`, {
            method: "GET",
            mode: 'no-cors',
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        });
        return response.json();
    }

    async function add_data() {
        page++;
        datas = await getData();
        has_next = datas.has_next
        for (var id = 0; id < datas.apartments.length; id++) {
            data = datas.apartments[id]
            type = "Двухкомнатная квартира"
            if (data.type == "О") type = "Однокомнатная квартира"
            document.getElementById("cards").innerHTML += `<div class="col-lg-6 col-12">
                    <div class="my-card">
                        <img class="apartment-img me-2" src="${data.photo_main_little}">
                        <div class="card-body">
                            <h6 class="apartment-title">${type}</h6>
                            <p class="apartment-content"><span class="fw-500">Базовая цена:</span> ${data.price.toLocaleString()} Тенге/Cутки</p>
                            <p class="float-start apartment-rooms" style="width: fit-content">${data.name}</p>
                            <a href="/apartment/${data.name}" class="float-end btn btn-blue">Подробнее</a>
                        </div>
                    </div>
                </div>`;
        }
        reload_button();
    }
</script>
{% endblock script %}
